{% extends 'base.html.twig' %}

{% block body_id 'detailsArtist' %}

{% block main %}
    <div class="container">
        <div class="text-center pb-4">
            <img src="{{ artist.imageUrl }}" class="big-cover img-circle shadow" width="200"
                 height="200"
                 alt="artistImage">
            <h2 class="my-3 text-center">{{ artist.name }}</h2>
        </div>
        <h3>Songs</h3>
        <hr>
        <div class="row d-flex justify-content-around">
            {% if artist.songs is not empty %}
                {% for song in artist.songs %}
                    <div class="card col-md-2 m-2 p-0 shadow-sm">
                        <a href="{{ path('songs_details', {'id': song.id}) }}">
                            <img src="{{ song.coverArtUrl }}" class="card-img-top big-cover" width="200" height="150"
                                 alt="songImage">
                            <div class="card-img-overlay card-link">
                                <h5 class="card-title">{{ song.title }}</h5>
                                <h6 class="card-text">{{ song.artist.name }}</h6>
                            </div>
                            <div class="card-footer">
                                <div class="row d-flex justify-content-around">
                                    <small class="col-md-5 text-muted">{{ song.playedCount }} hits</small>
                                    <small class="col-md-7 text-muted">{{ song.dateAdded|date('d/m/Y') }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <h3 class="font-italic text-muteds">There are currently no songs by {{ artist.name }} :(</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
