{% extends 'base.html.twig' %}

{% block body_id 'deleteArtist' %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <div class="mb-3">
                <img src="{{ artist.imageUrl }}" class="big-cover img-circle shadow" width="400"
                     height="400"
                     alt="artistImage">
            </div>
            <div class="card">
                <div class="card-header form-title">Edit Artist</div>
                <div class="card-body">
                    <form name="my-form" enctype="multipart/form-data" action="{{ path('artists_edit', {id: artist.id}) }}" method="post">
                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Name</label>
                            <div class="col-md-6">
                                <input type="text" id="name" placeholder="Name" class="form-control"
                                       name="artist[name]" value="{{ artist.name }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Image URL</label>
                            <div class="col-md-6">
                                <input type="text" id="imageUrl" placeholder="Image Url" class="form-control"
                                       name="artist[imageUrl]" value="{{ artist.imageUrl }}" required>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <a class="btn btn-lg btn-light" href="{{ path('orpheus_index') }}">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-lg btn-secondary">
                                Submit
                            </button>
                        </div>
                        {{  form_row(form._token) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
