{% extends 'base.html.twig' %}

{% block body_id 'detailsSong' %}

{% block main %}

    {% if errors %}
        <div class="alert alert-danger text-center" role="alert">
            {% for error in errors %}
                {{ error }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container">
        <div class="text-center pb-4">
            <h2>{{ song.title }}</h2>
        </div>
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="{{ song.artist.imageUrl }}" class="big-cover img-circle shadow" width="350" height="350"
                     alt="artistImage">
                <a class="text-dark" href="{{ path('artists_details', {'id': song.artist.id}) }}"><h3
                            class="mt-3">{{ song.artist.name }}</h3></a>
                <a class="text-dark" href="{{ path('genres_details', {'id': song.genre.id}) }}"><h4
                            class="mt-3">{{ song.genre.name }}</h4></a>
            </div>
            <div class="col-md-7">
                <div class="card text-center shadow">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ song.songUrl }}" frameborder="0"
                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="card-footer">
                        <div class="row d-flex justify-content-around font-italic">
                            <p class="text-muted m-0">{{ song.playedCount }} hits</p>
                            <p class="text-muted m-0">{{ song.likes }} likes</p>
                            <p class="text-muted m-0">{{ song.dateAdded|date('d/m/Y') }}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="my-3 py-4">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                {% if app.getUser() and (app.getUser().isSongCreator(song) or app.getUser().isAdmin()) %}
                    <div class="btn-group" role="group" aria-label="First group">
                        <a href="{{ path('songs_edit', {'id': song.id}) }}" type="button"
                           class="btn btn-lg btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('songs_delete', {'id': song.id}) }}" type="button"
                           class="btn btn-lg btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </div>
                {% else %}
                    <div class="font-italic" role="group">
                        Added by <a class="text-warning"
                                    href="{{ path('users_details', {'id': song.user.id}) }}">{{ song.user.fullName }}</a>
                    </div>
                {% endif %}
                <div class="btn-group" role="group" aria-label="Second group">
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-outline-danger">
                        <i class="fas fa-plus fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header form-title">Add To Playlist</div>
                    <div class="card-body">
                        <form name="my-form"
                              action="{{ path('playlists_addSong', {'id': song.id}) }}" method="post">
                            <div class="form-group row">
                                <label for="title" class="col-md-4 col-form-label text-md-right">Title</label>
                                <div class="col-md-6">
                                    <input type="text" id="title" placeholder="Title" class="form-control"
                                           name="song[title]" value="{{ song.title }}" required disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="playlistId" class="col-md-4 col-form-label text-md-right">Playlist</label>
                                <div class="col-md-6">
                                    <select id="playlistId" name="playlistId" class="form-control">
                                        <option disabled>Select playlist</option>
                                        {% for playlist in playlists %}
                                            <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-around">
                                <button class="btn btn-lg btn-light" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-lg btn-secondary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
