{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="jumbotron orpheus-color text-dark">
            {% if app.user %}
                <h1 class="display-4 font-weight-normal">Welcome back {{ app.user.fullName }}</h1>
                <hr class="my-4">
                <p class="lead">Check out our new releases.</p>
            {% else %}
                <h1 class="display-3 font-weight-normal">Welcome to Orpheus</h1>
                <hr class="my-4">
                <p class="lead">Share and listen to some of the freshest music.</p>
                <p class="lead"><a class="text-shadow" href="{{ path("security_login") }}">Login</a>, if you don't have
                    account <a class="text-shadow" href="{{ path("users_register") }}">sign up</a></p>
            {% endif %}
        </div>
        <div class="">
            <h2>Recently Added</h2>
            <hr>
            <div class="row d-flex justify-content-between">
                {% for song in songs[:5] %}

                    <div class="card col-md-2 m-2 p-0 shadow-sm">
                        <a href="{{ path('songs_details', {'id': song.id}) }}">
                            <img src="{{ song.coverArtUrl }}" class="card-img-top big-cover" width="200" height="150"
                                 alt="songImage">
                            <div class="card-img-overlay card-link">
                                <h5 class="card-title">{{ song.title }}</h5>
                                <h6 class="card-text">{{ song.artist.name }}</h6>
                            </div>
                            <div class="card-footer">
                                <div class="row d-flex justify-content-around">
                                    <small class="col-md-5 text-muted">{{ song.playedCount }} hits</small>
                                    <small class="col-md-7 text-muted">{{ song.dateAdded|date('d/m/Y') }}</small>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
